.contact_container {
     padding: 100px 0px;

     .form-control {
          padding: 10px;
          border-radius: 0%;
          box-shadow: none !important;
          background: transparent !important;
     }

     input[type="checkbox"] {
          accent-color: green;
     }
}