.book_online {
    padding: 100px 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.521), rgba(0, 0, 0, 0.521)), url('../../assets/images/sub_img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    h6.badge {
        background: #ffffff38;
        padding: 5px 50px;
        font-weight: 500;
    }
}